7=Arabic,windows-1256
19=Japanese,windows-31j
31=Czech,windows-1250
34=Hungarian,windows-1250
35=Polish,windows-1250
38=Russian,windows-1251
100=EE MS-DOS,windows-1250
102=Russian MS-DOS,windows-1251
103=Icelandic MS-DOS,windows-1251
104=Kamenicky (Czech) MS-DOS,windows-1251
105=Mazovia (Polish) MS-DOS,windows-1251
106=Greek MS-DOS (437G),windows-1253
107=Turkish MS-DOS,windows-1254
150=Russian Macintosh,windows-1251
151=Eastern European Macintosh,windows-1251
152=Greek Macintosh,windows-1253
201=Russian Windows,windows-1251
202=Turkish Windows,windows-1254
203=Greek Windows,windows-1253
