1=DOS USA,IBM437,windows-1252
2=DOS Multilingual,IBM850,windows-1252
3=Windows ANSI code,ISO-8859-1,windows-1252
4=Standard Macintosh,MacRoman,windows-1252
100=EE MS-DOS,Cp852,windows-1250
101=Nordic MS-DOS,IBM865,windows-1252
102=Russian MS-DOS,IBM866,windows-1251
103=Icelandic MS-DOS,IBM866,windows-1251
104=Kamenicky (Czech) MS-DOS,IM866,windows-1251
105=Mazovia (Polish) MS-DOS,IBM866,windows-1251
106=Greek MS-DOS (437G),Cp737,windows-1253
107=Turkish MS-DOS,Cp857,windows-1254
150=Russian Macintosh,MacCyrillic,windows-1251
151=Eastern European Macintosh,MacCentralEuropean,windows-1251
152=Greek Macintosh,MacGreek,windows-1253
200=Windows EE,Cp1250,windows-1252
201=Russian Windows,Cp1251,windows-1251
202=Turkish Windows,Cp1254,windows-1254
203=Greek Windows,Cp1253,windows-1253
